$primary: #F2544C;
$secondary: #2A9D8F;
$secondary-dark: #277C72;

$light: #EEEEEE;
$dark: #C1C4C6;

$info: #4A90E2;
$success: #01C851;
$warning: #FFD806;
$danger: #FF3366;

$background: #FAFAFA;

$text: #666666;

$link: $secondary;
$link-hover: $secondary-dark;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
$open-sans: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: $open-sans;

@import "../node_modules/bulma/sass/utilities/_all.sass";